.table {
}

.toolbar {
  display: flex;
  gap: 48px;
  margin-bottom: 16px;

  :global {
    span {
      font-size: 24px;
    }

    .selected-status {
      input {
        margin-right: 16px;
      }
    }
  }
}

.downloadButton {
  cursor: pointer;
  background: none;
  font-size: 24px;

  :global {
    .icon {
      display: inline-block;
      margin-right: 4px;
    }
    em {
      margin-left: 4px;
      font-size: 12px;
    }
  }
}
